//---------------------------------------------------------------------------------------------
//
// Select element styles
//
//---------------------------------------------------------------------------------------------

//---------------------------------------------------------------------------------------------
// Variables
//---------------------------------------------------------------------------------------------

$text-colour:#333333;

$trigger-background:#fff;

$list-text-colour:#333;
$list-colour:lighten(#eee,5%);
$list-hover-colour:darken($list-colour,7%);
$list-selected-colour:darken($list-colour,10%);

$width:250px;
$border:#bbb;
$arrow-size: 5px;
$border-radius: 3px;
$max-list-height:250px;
$ease : $easeInOutQuad;
$shadow-colour: rgba(0,0,0,0.2);

//---------------------------------------------------------------------------------------------
// Styels
//---------------------------------------------------------------------------------------------

div.fancy-select{
	width: 100%;
	max-width:$width;
	position: relative;
	font-size: 13px;
	color: #46565D;
	&.disabled{
		opacity: 0.5;
	}
	select:focus + div.trigger {
		box-shadow: 0 0 2px 0 $shadow-colour;
	}
}

div.fancy-select div.trigger {
	width: 100%;
	max-width:$width;
	cursor: pointer;
	overflow: hidden;
	position: relative;
	white-space: nowrap;
	color: $text-colour;
	text-overflow: ellipsis;
	background: $trigger-background;
	border: 1px solid $border;
	padding: 10px 24px 9px 9px;
	transition: all 240ms $ease;
	border-radius: $border-radius;
	&:after{
		width: 0;
		height: 0;
		top: 50%;
		right: 9px;
		display: block;
		@include pseudo;
		margin-top: -$arrow-size / 2.5;
		border: $arrow-size solid transparent;
		border-top-color: #4B5468;
	}
	&.open{
		color: #7A8498;
		box-shadow: none;
		border: 1px solid darken($border,10%);
	}
}

div.fancy-select ul.options {
	left: 0;
	margin: 0;
	top: 80px;
	opacity: 0;
	padding:0;
	z-index: 50;
	overflow: auto;
	list-style: none;
	width:100%;
	min-width: $width;
	position: absolute;
	border-radius: $border-radius;
	visibility: hidden;
	background: $list-colour;
	max-height: $max-list-height;
	box-shadow: 0 1px 2px $shadow-colour;
	transition: opacity 300ms $ease, top 300ms $ease, visibility 300ms $ease;
	&.open{
		visibility: visible;
		top: 40px;
		opacity: 1;
		transition: opacity 300ms $ease, top 300ms $ease;
	}
	&.overflowing{
		top: auto;
		bottom: 40px;
		transition: opacity 300ms $ease, bottom 300ms $ease, visibility 300ms $ease;
		&.open{
			top: auto;
			bottom: 50px;
			transition: opacity 300ms $ease, bottom 300ms $ease;
		}
	}
	li{
		cursor: pointer;
		width:100%;
		padding: 8px 10px;
		white-space: nowrap;
		color: $list-text-colour;
		transition: all 75ms $ease;
		&.selected{
			background: $list-selected-colour;
		}
		&.hover{
			background: $list-hover-colour;
		}
	}
}
