//---------------------------------------------------------------------------------------------
//
// Typography styles
//
//---------------------------------------------------------------------------------------------

$lineHeight: 16px !default;

//---------------------------------------------------------------------------------------------
// Font definitions
//---------------------------------------------------------------------------------------------

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

@mixin light {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

@mixin regular {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

@mixin semi {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

//---------------------------------------------------------------------------------------------
// Font colours
//---------------------------------------------------------------------------------------------

//---------------------------------------------------------------------------------------------
// Headings and paragraphs
//---------------------------------------------------------------------------------------------

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  @include light;
  display: block;
}

h1 {
  @include rem(font-size, 3.8rem);
  @include rem(line-height, 7.56rem);
}

h2 {
  @include rem(font-size, 3.2rem);
  @include rem(line-height, 3.84rem);
}

h3 {
  @include rem(font-size, 2.8rem);
  @include rem(line-height, 3.36rem);
}

h4 {
  @include rem(font-size, 2.2rem);
  @include rem(line-height, 2.64rem);
}

h5 {
  @include rem(font-size, 1.6rem);
  @include rem(line-height, 1.92rem);
}

h6 {
  @include rem(font-size, 1.6rem);
  @include rem(line-height, 1.92rem);
}

p {
  @include rem(margin, 1.2rem auto);
  @include rem(font-size, 1.6rem);
  @include rem(line-height, 1.9rem);
}

//---------------------------------------------------------------------------------------------
// Text Alignment
//---------------------------------------------------------------------------------------------

.text--left {
  text-align: left;
}

.text--center {
  text-align: center;
}

.text--right {
  text-align: right;
}

//---------------------------------------------------------------------------------------------
// Links
//---------------------------------------------------------------------------------------------

a {
  text-decoration: none;
}

em {
  font-style: italic;
}

strong {
  @include semi;
  margin: 0;
}