//---------------------------------------------------------------------------------------------
//
// Grid system
//
//---------------------------------------------------------------------------------------------

//---------------------------------------------------------------------------------------------
// Gutter & margin variables
//---------------------------------------------------------------------------------------------

$gutter: 0.01;
$row_margin: 0;
$grid_margin: 10px;

//---------------------------------------------------------------------------------------------
// Grid creation
//---------------------------------------------------------------------------------------------

.row {
  @include clearfix;
  text-align: center;
  vertical-align: top;
  position: relative;
  display: block;
  margin-top: 0;
  margin-bottom: $row_margin;
  @for $i from 1 through 12 {
    .grid--#{$i} {
      float: left;
      text-align: left;
      height: 100%;
      vertical-align: top;
      margin-top: 0;
      margin-bottom: $grid_margin;
      margin-left: percentage($gutter);
      &:first-child {
        margin-left: 0%;
      }
    }
  }
  @for $i from 1 through 12 {
    .grid--#{$i} {
      width: percentage(($i/12) - $gutter);
      @if $i == 1 {
        width: percentage(($i/12) - $gutter/1.09);
      } @else if $i == 2 {
        width: percentage(($i/12) - $gutter/1.2);
      } @else if $i == 3 {
        width: percentage(($i/12) - $gutter/1.333333333333);
      } @else if $i == 4 {
        width: percentage(($i/12) - $gutter/1.5);
      } @else if $i == 6 {
        width: percentage(($i/12) - $gutter/2);
      } @else if $i == 12 {
        width: percentage(($i/12));
      } @else {
        width: percentage(($i/12) - $gutter);
      }
    }
  }
  .row {
    width: 100%;
    @for $i from 1 through 12 {
      .grid--#{$i} {
        margin-bottom: 0;
      }
    }
  }
  .grid--right {
    float: right;
  }
  @for $i from 1 through 12 {
    .grid--#{$i} {
      &.grid--center {
        display: inline-block;
        float: none;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

@media (max-width: $medium) {
  .hide--on-medium {
    display: none !important;
  }
  .row {
    width: 94%;
    @for $i from 1 through 12 {
      .grid--#{$i} {
        margin-left: 0%;
        width: 100%;
      }
    }
    .grid--mobile-half:nth-child(2n+1),
    .grid--mobile-third:nth-child(3n+1),
    .grid--mobile-quarter:nth-child(4n+1) {
      margin-left: 0% !important;
    }
    .grid--mobile-half {
      width: percentage((1/2) - $gutter);
      margin-left: percentage($gutter*2);
    }
    .grid--mobile-third {
      width: percentage((1/3) - $gutter);
      margin-left: percentage($gutter*1.5);
    }
    .grid--mobile-quarter {
      width: percentage((1/4) - $gutter);
      margin-left: percentage($gutter*1.333333333333);
    }
  }
}

@media (max-width: $small) {
  .hide--on-small {
    display: none !important;
  }
  .row {
    .grid--mobile-half,
    .grid--mobile-third,
    .grid--mobile-quarter {
      margin-left: 0%;
      width: 100%;
    }
  }
}