.icon-back {
  background-image: url(../images/sprites.png);
  background-position: 0px 0px;
  width: 35px;
  height: 20px;
}
.icon-checkbox-checked {
  background-image: url(../images/sprites.png);
  background-position: 0px -20px;
  width: 32px;
  height: 32px;
}
.icon-checkbox {
  background-image: url(../images/sprites.png);
  background-position: 0px -52px;
  width: 32px;
  height: 32px;
}
