//---------------------------------------------------------------------------------------------
//
// Mixins
//
//---------------------------------------------------------------------------------------------

//---------------------------------------------------------------------------------------------
// Only display sprites if they are supported
//---------------------------------------------------------------------------------------------

.icon-svg {
  display: none;
}

.inline-svg,
.svg {
  .icon-img {
    background: none;
    position: relative;
  }
  .icon-svg {
    top: 0;
    left: 0;
    display: block;
    position: absolute;
  }
}

//---------------------------------------------------------------------------------------------
// Clearfix
//---------------------------------------------------------------------------------------------

@mixin clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

//---------------------------------------------------------------------------------------------
// Pseudo elements
//---------------------------------------------------------------------------------------------

@mixin pseudo {
  position: absolute;
  content: '';
}

.pseudo{
  position: absolute;
  content: '';
}

//---------------------------------------------------------------------------------------------
// Tranistion timings
//---------------------------------------------------------------------------------------------

$easeInQuad: cubic-bezier(0.550, 0.085, 0.680, 0.530);
$easeOutQuad: cubic-bezier(0.250, 0.460, 0.450, 0.940);
$easeInOutQuad: cubic-bezier(0.455, 0.030, 0.515, 0.955);

$easeInCubic: cubic-bezier(0.550, 0.055, 0.675, 0.190);
$easeOutCubic: cubic-bezier(0.215, 0.610, 0.355, 1.000);
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1.000);

$easeInQuart: cubic-bezier(0.895, 0.030, 0.685, 0.220);
$easeOutQuart: cubic-bezier(0.165, 0.840, 0.440, 1.000);
$easeInOutQuart: cubic-bezier(0.770, 0.000, 0.175, 1.000);

$easeInQuint: cubic-bezier(0.755, 0.050, 0.855, 0.060);
$easeOutQuint: cubic-bezier(0.230, 1.000, 0.320, 1.000);
$easeInOutQuint: cubic-bezier(0.860, 0.000, 0.070, 1.000);

$easeInSine: cubic-bezier(0.470, 0.000, 0.745, 0.715);
$easeOutSine: cubic-bezier(0.390, 0.575, 0.565, 1.000);
$easeInOutSine: cubic-bezier(0.445, 0.050, 0.550, 0.950);

$easeInExpo: cubic-bezier(0.950, 0.050, 0.795, 0.035);
$easeOutExpo: cubic-bezier(0.190, 1.000, 0.220, 1.000);
$easeInOutExpo: cubic-bezier(1.000, 0.000, 0.000, 1.000);

$easeInCirc: cubic-bezier(0.600, 0.040, 0.980, 0.335);
$easeOutCirc: cubic-bezier(0.075, 0.820, 0.165, 1.000);
$easeInOutCirc: cubic-bezier(0.785, 0.135, 0.150, 0.860);

$easeInBack: cubic-bezier(0.600, -0.280, 0.735, 0.045);
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);
$easeInOutBack: cubic-bezier(0.680, -0.550, 0.265, 1.550);

//---------------------------------------------------------------------------------------------
// Rem sizing with fallbacks
//---------------------------------------------------------------------------------------------

@function parseInt($n) {
  @return $n / ($n * 0 + 1);
}

@mixin rem($property, $values) {
  $px: ();
  $rem: ();
  @each $value in $values {
    @if $value == 0 or $value == auto {
      $px: append($px, $value);
      $rem: append($rem, $value);
      } @else {
        $unit: unit($value);
        $val: parseInt($value);
        @if $unit == "px" {
          $px: append($px, $value);
          $rem: append($rem, ($val / 10 + rem));
        }
        @if $unit == "rem" {
          $px: append($px, ($val * 10 + px));
          $rem: append($rem, $value);
        }
      }
    }
    @if $px == $rem {
      #{$property}: $px;
      } @else {
        #{$property}: $px;
        #{$property}: $rem;
      }
    }

//---------------------------------------------------------------------------------------------
// Image floats
//---------------------------------------------------------------------------------------------

.image--left{
  float:left;
}

.image--right{
  float:right;
}

//---------------------------------------------------------------------------------------------
// Media query breakpoints
//---------------------------------------------------------------------------------------------

@mixin x-small {
 @media only screen and (max-width: $x-small) {
  @content;
}
}

@mixin small {
 @media only screen and (max-width: $small) {
  @content;
}
}

@mixin medium {
  @media only screen and (max-width: $medium) {
    @content;
  }
}

@mixin large {
  @media only screen and (max-width: $large) {
    @content;
  }
}

@mixin x-large {
 @media only screen and (max-width: $x-large) {
  @content;
}
}
