//---------------------------------------------------------------------------------------------
//
// Sitewide Variables
//
//---------------------------------------------------------------------------------------------

//---------------------------------------------------------------------------------------------
// Colours (based on - http://flatuicolors.com/) TODO: Create a better base colour set
//---------------------------------------------------------------------------------------------

$grey-base: 	   #bdc3c7;
$grey-dark:	       darken($grey-base,20%);
$grey-mid-dark:    darken($grey-base,10%);
$grey-mid-light:   lighten($grey-base,10%);
$grey-light:	   lighten($grey-base,20%);

$yellow-base: 	   #f1c40f;
$yellow-dark:	   darken($yellow-base,20%);
$yellow-mid-dark:  darken($yellow-base,10%);
$yellow-mid-light: lighten($yellow-base,10%);
$yellow-light:	   lighten($yellow-base,20%);

$red-base: 	   	   #e74c3c;
$red-dark:	   	   darken($red-base,20%);
$red-mid-dark:     darken($red-base,10%);
$red-mid-light:	   lighten($red-base,10%);
$red-light:	  	   lighten($red-base,20%);

$blue-base: 	   #3498db;
$blue-dark:	   	   darken($blue-base,20%);
$blue-mid-dark:    darken($blue-base,10%);
$blue-mid-light:   lighten($blue-base,10%);
$blue-light:	   lighten($blue-base,20%);

$orange-base: 	   #e67e22;
$orange-dark:	   darken($orange-base,20%);
$orange-mid-dark:  darken($orange-base,10%);
$orange-mid-light: lighten($orange-base,10%);
$orange-light:	   lighten($orange-base,20%);

$purple-base: 	   #9b59b6;
$purple-dark:	   darken($purple-base,20%);
$purple-mid-dark:  darken($purple-base,10%);
$purple-mid-light: lighten($purple-base,10%);
$purple-light:	   lighten($purple-base,20%);

$green-base: 	   #27ae60;
$green-dark:	   darken($green-base,20%);
$green-mid-dark:   darken($green-base,10%);
$green-mid-light:  lighten($green-base,10%);
$green-light:	   lighten($green-base,20%);

$black-base: 	   #111111;
$black-dark:	   darken($black-base,20%);
$black-mid-dark:   darken($black-base,10%);
$black-mid-light:  lighten($black-base,10%);
$black-light:	   lighten($black-base,20%);

$white-base: 	   #FFFFFF;
$white-dark:	   darken($white-base,20%);
$white-mid-dark:   darken($white-base,10%);

//---------------------------------------------------------------------------------------------
// Breakpoints
//---------------------------------------------------------------------------------------------

$x-small: 	480px !default;
$small: 	640px !default;
$medium:	768px !default;
$large: 	940px !default;
$x-large: 	1280px !default;

//---------------------------------------------------------------------------------------------
// Hidden & visible Elements
//---------------------------------------------------------------------------------------------

.visible--phone{
	@media screen and (min-width: $small) {
		display:block;
	}
}

.visible--tablet{
	@media screen and (min-width: $medium) {
		display:block;
	}
}

.visible--desktop{
	@media screen and (min-width: $large) {
		display:block;
	}
}

.hidden--phone{
	@media screen and (max-width: $small) {
		display:none;
	}
}

.hidden--tablet{
	@media screen and (max-width: $medium) {
		display:none;
	}
}

.hidden--desktop{
	@media screen and (max-width: $large) {
		display:none;
	}
}