<svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" overflow="hidden">
	<defs>
	</defs>
	<g id="checkbox-checked">
		<rect x="6" y="6" width="20" height="20" stroke="#666666" stroke-width="1" fill="none" rx="5" ry="5"/>
		<path d="M 8 19.0499 C 8 19.0499 14.7292 24.9467 14.4762 24.9999 C 14.2232 25.053 25 10.55 25 10.55 L 21.7619 8 L 14.0208 19.2093 L 10.4286 15.9156 L 8 19.0499 Z" fill="#666666"/>
	</g>
	<g id="checkbox">
		<rect x="6" y="6" width="20" height="20" stroke="#666666" stroke-width="1" fill="none" rx="5" ry="5"/>
		<path visibility="hidden" d="M 8 19.0499 C 8 19.0499 14.7292 24.9467 14.4762 24.9999 C 14.2232 25.053 25 10.55 25 10.55 L 21.7619 8 L 14.0208 19.2093 L 10.4286 15.9156 L 8 19.0499 Z" fill="#666666"/>
	</g>
</svg>