//---------------------------------------------------------------------------------------------
//
// Default layout styles
//
//---------------------------------------------------------------------------------------------

html {
  font-size: 62.5%;
  color: $grey-dark;
}

body {
  @include rem(font-size, 1.6rem);
  @include regular;
}

.content {
  max-width:$large;
  margin: 0 auto;
  @extend .clearfix;
  position: relative;

}

.main {
  width: 74%;
  float: left;
  margin-right: 1%;
}

.row{
  *[class*="grid-"]{
    background:$grey-mid-light;
    @extend .text--center;
    line-height:40px;
    .row{
      margin:0 auto;
      background: $grey-dark;
      *[class*="grid-"]{
        color:$grey-mid-light;
        background:$grey-mid-dark;
      }
    }
  }
}



@media (max-width: $large) {
  .main {
    width: 100%;
  }
}

.row {
  width: 100%;
  max-width:$large;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: $large) {
  .row {
    width: 94%;
  }
}
